form {
  width: 320px;
  float: left;
  margin: 20px;
}

label {
  width: 100px;
}

input {
  width: 100%;
  border: 2px solid gray;
  padding: 8px 12px;
  z-index: 1;
}

input:invalid {
  background-color: #ffdddd;
}

input:required:invalid {
  border-color: #C00000;
}
